@import "tailwindcss";
@import "tailwindcss";

@theme {
  --font-sans: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #245db2;
  --color-primary-dim: #0e51a5;
  --color-primary-container: #a3c1ff;
  --color-on-primary-container: #003a7e;

  --color-secondary: #3e684b;
  --color-secondary-container: #c4f4cf;
  --color-on-secondary-container: #345e42;

  --color-tertiary: #8d5011;
  --color-tertiary-container: #feac67;
  --color-on-tertiary-container: #5c2f00;

  --color-background: #f8f9fa;
  --color-surface: #f8f9fa;
  --color-surface-container: #ebeef0;
  --color-surface-container-low: #f2f4f5;
  --color-surface-container-high: #e5e9eb;
  --color-surface-container-highest: #dee3e5;
  --color-surface-container-lowest: #ffffff;

  --color-on-surface: #2e3335;
  --color-on-surface-variant: #5a6062;
  --color-outline: #767c7e;
  --color-outline-variant: #aeb3b5;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
